@import '~bootstrap/scss/bootstrap';

path {
  fill:forestgreen;
  stroke-width: 2px;
  z-index: 1;
}

#map-container{
  background-color: black;
}

.sphere{
  fill: lightblue;
}

.volcano-dot{
  z-index: 5;
}

circle:hover{
  fill: black;
}

.circle{
  opacity: .1;
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  }
